{% extends "base_generic.html" %}

{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again</p>
    {% endif %}
    
    {# Show this page if there is a next parameter #}
    {# the next parameter indicates the page the user tried to access before being #}
    {# redirected to the login page. #}
    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.
            </p>
        {% else %}
            <p>Please login to see this page</p>
        {% endif %}
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{form.username.label_tag}}</td>
                <td>{{form.username}}</td>
            </tr>
            <tr>
                <td>{{form.password.label_tag}}</td>
                <td>{{form.password}}</td>
            </tr>
        </table>
        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{next}}">
    </form>

    {# Link to password reset page #}
    {# assuming you have setup the password reset urls correctly #}
    <p><a href="{% url 'password_reset' %}">Forgotten your password?</a></p>

{% endblock %}